html{
    background-color: grey;
}

body{
    background-color: orange;
    width: 80%;
    
}

p{
    color: blue;
    
}

h1{
    color: gold;
    background-color: darkred;
    
}

.div1{
    padding: 10px;
    background-color: black;
    border: 5px;
}

.Wingdings {
    font-family: Wingdings;
    
}

footer{
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
    border: 2px solid black;
    text-align: center;
}