p {
  
	  background-color: lightgrey;
	  width: 300px;
	  border: 15px red;
	  padding: 50px;
	  margin: 30px;
	  border-top-style: dotted;
	  border-right-style: solid;
	  border-bottom-style: dotted;
	  border-left-style: solid;
}